@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";

/* div {
    border: 1px solid red;
} */

* {
    margin: 0px;
    color: #C7CEDB;
}

body {
    background: radial-gradient(at 10% 30%, #150020, #1a0028, #10001a, #080011);
    background-size: cover; /* Ensures the gradient covers the entire viewport */
    background-repeat: no-repeat; /* Prevents repeating */
    font-family: "Sarabun", sans-serif;
}
h1 {
    font-family: "Bree Serif", serif;
}
  
#title {
    font-family: "Bree Serif", serif;
    font-weight: bolder;
}

#body-copy {
    font-family: "Mulish", sans-serif;}